<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RibbonDemo.Properties.Settings.ConstringKombongJamur"
            connectionString="server=localhost;User Id=root;Persist Security Info=True;database=db_kombong_jamur"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>